<footer>
  <div>
    <ul>
      I nostri contatti:
      <li>
        <a href="https://github.com/ChristianKareemCianci"
          ><i class="fa-brands fa-github"></i> Christian Kareem Cianci</a
        >
      </li>
      <li>
        <a href="https://github.com/kyara-code"
          ><i class="fa-brands fa-github"></i> Chiara Valeri</a
        >
      </li>
    </ul>
  </div>

  <!-- da mettere il form, oppure link che reindirizza alla pagina del form, se riusciamo a farci inviare mail in modo semplice -->
  <div>
    <a routerLink="/about-us" style="font-size: 1em">Contattaci</a>
  </div>
</footer>
