<div class="wrapper">
  <header>
    <img src="../../assets/img/space-wallpaper.webp" class="background" />
    <!-- aggiungere l'img foreground: il pianeta, che quindi si muove più velocemente -->
    <app-navbar></app-navbar>
    <div>
      <h1 class="title">About Us</h1>
    </div>
  </header>

  <div class="main">
    <div class="who-section">
      <h3>Who</h3>
      <div style="display: flex; justify-content: space-around">
        <div>
          <div>
            <img
              src="https://img.icons8.com/ios/500/star--v1.png"
              class="profile-picture"
            />
            <p class="subtitle">Christian Kareem Cianci</p>
          </div>
          <div class="description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut libero
            sequi similique dignissimos itaque ea necessitatibus placeat facere,
            aliquid eum cumque minus ad provident, velit inventore numquam.
            Voluptatibus facere in necessitatibus consectetur libero aut nobis
            commodi iusto repellat hic, rerum provident et quos cumque
            dignissimos molestiae consequuntur eaque eius earum voluptatem.
            Officiis incidunt rerum fuga harum sit ab numquam vero accusamus
            impedit reprehenderit odio deserunt recusandae unde velit, atque
            molestias aliquam perspiciatis laudantium assumenda. Quidem
            consequatur corrupti reprehenderit aliquid mollitia quaerat quo
            repudiandae voluptatibus tenetur reiciendis eum ad ipsa assumenda
            sit cupiditate dolorum deserunt pariatur blanditiis, optio eaque
            doloribus nam.
          </div>
        </div>
        <div>
          <div>
            <img
              src="https://img.icons8.com/ios/500/star--v1.png"
              class="profile-picture"
            />
            <p class="subtitle">Chiara Valeri</p>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nemo
            temporibus adipisci vero eos. Accusamus natus adipisci fuga velit
            aliquid iste. Impedit amet odit quo aperiam nam itaque, veniam
            blanditiis ratione deserunt veritatis reprehenderit libero magnam?
            Excepturi non pariatur, sapiente laboriosam doloribus assumenda
            obcaecati cupiditate perspiciatis culpa saepe praesentium. Facilis
            consequuntur ex voluptate, tenetur magnam rem officia sapiente
            placeat veniam accusamus deserunt voluptatum, fugiat eos odio
            voluptatibus explicabo exercitationem deleniti ipsam, aliquam
            necessitatibus beatae? Alias fuga perferendis mollitia sed facere
            nisi pariatur expedita eaque eum! Rem aut quia voluptatem dolor
            mollitia impedit quod repudiandae soluta, alias, suscipit tempore,
            quos itaque.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
