<!-- leggere il link dall'url in typescript -->
<div class="navbar">
  <a
    [ngClass]="{
      'link-active': url === 'fun-facts',
      'link-inactive': url !== 'fun-facts'
    }"
    [routerLink]="['/fun-facts/topic']"
    [queryParams]="{ id: 'earth' }"
    (click)="onNavigateOnHomePage('fun-facts')"
    >Fun Facts</a
  >
  <a
    [ngClass]="{
      'link-active': url === 'photos',
      'link-inactive': url !== 'photos'
    }"
    routerLink="/photos"
    [queryParams]="{ id: '1' }"
    (click)="onNavigateOnHomePage('photos')"
    >Photos</a
  >
  <a
    [ngClass]="{
      'link-active': url === 'about-us',
      'link-inactive': url !== 'about-us'
    }"
    routerLink="/about-us"
    (click)="onNavigateOnHomePage('about-us')"
    >About Us</a
  >
</div>
