.navbar {
  color: var(--clr-5);
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}

a {
  position: relative;
  cursor: pointer;
}

.link-inactive::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-5);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-inactive:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link-active {
  padding-bottom: 1px;
  border-bottom: 2px solid var(--clr-5);
}
