<!-- leggere il link dall'url in typescript -->
<div class="navbar">
  <a
    [ngClass]="{
      'link-active': url === 'fun-facts',
      'link-inactive': url !== 'fun-facts'
    }"
    routerLink="/fun-facts"
    >Fun Facts</a
  >
  <a
    [ngClass]="{
      'link-active': url === 'photos',
      'link-inactive': url !== 'photos'
    }"
    routerLink="/photos"
    >Photos</a
  >
  <a
    [ngClass]="{
      'link-active': url === 'about-us',
      'link-inactive': url !== 'about-us'
    }"
    routerLink="/about-us"
    >About Us</a
  >
</div>
