/* --------------------- */
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--clr-2-rgb), 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  /* overflow-y: scroll; */
  z-index: 12;
}

.popup {
  position: absolute;
  background-color: var(--clr-2);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;

  width: 75%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-height: 60vh;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}

.popup h2 {
  text-align: center;
}

.popup img {
  width: 70%;
  margin: 10px;
  max-width: 400px;
}

p {
  text-align: center;
  margin: 10px;
}
