/* You can add global styles to this file, and also import other style files */

* {
  /* PALETTE dal più scuro al più chiaro */
  --clr-1: #06293f;
  --clr-2: #054163;
  --clr-3: #50889d;
  --clr-4: #92c0cf;
  --clr-5: #ffffff;

  --clr-1-rgb: 6, 41, 63;
  --clr-2-rgb: 5, 65, 99;
  --clr-3-rgb: 80, 136, 157;
  --clr-4-rgb: 146, 192, 207;
  --clr-5-rgb: 255, 255, 255;

  font-family: "Italiana", serif;
  font-weight: lighter;

  cursor: url(https://cur.cursors-4u.net/mechanics/mec-4/mec309.cur), auto !important;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
