<div class="wrapper">
  <header>
    <img src="../../assets/img/space-wallpaper.webp" class="background" />
    <!-- aggiungere l'img foreground: il pianeta, che quindi si muove più velocemente -->
    <div>
      <h1 class="title">Title of the website</h1>
      <h3 class="subtitle">SuperDuper awesome quote here</h3>
    </div>
  </header>

  <div class="section">
    <div class="daily-image">
      <div>
        <h1 class="image-title">Image of the day</h1>
        <img [src]="dailyImg?.hdurl" />
      </div>

      <h3 class="image-subtitle">{{ dailyImg?.title }}:</h3>
      <!-- DESCRIZIONE DA STILIZZARE: DENTRO UN DIV CONTENITORE, PIù CARINA -->
      <p>{{ dailyImg?.explanation }}</p>
    </div>
    <div class="central-container">
      <div style="flex: 1">
        <h3 class="menu-title">Menu</h3>
        <div class="menu">
          <ul>
            <li>
              <a routerLink="fun-facts/topic" [queryParams]="{ id: 'earth' }"
                >FunFacts</a
              >
            </li>
            <li>
              <a routerLink="/photos">Images Archive</a>
            </li>
            <li>
              <a routerLink="/about-us">About Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div style="flex: 1">
        <div class="title-news-container">
          <h3>Latest news</h3>
          <span>See all</span>
        </div>
        <div class="latest">
          <div *ngFor="let news of newsArray" class="single-news">
            <img [src]="news.imgUrl" />
            <div>
              <h2>{{ news.title }}</h2>
              <p>{{ news.newsText | slice: 0:100 }}...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div>
      <ul>
        I nostri contatti:
        <li>
          <a href="https://github.com/ChristianKareemCianci"
            ><i class="fa-brands fa-github"></i> Christian Kareem Cianci</a
          >
        </li>
        <li>
          <a href="https://github.com/kyara-code"
            ><i class="fa-brands fa-github"></i> Chiara Valeri</a
          >
        </li>
      </ul>
    </div>

    <!-- da mettere il form, oppure link che reindirizza alla pagina del form, se riusciamo a farci inviare mail in modo semplice -->
    <div>
      <a href="#" style="font-size: 1em">Contattaci</a>
    </div>
  </footer>
</div>
