<div class="wrapper">
  <header>
    <img src="../../assets/img/space-wallpaper.webp" class="background" />
    <!-- aggiungere l'img foreground: il pianeta, che quindi si muove più velocemente -->
    <div>
      <h1 class="title">Title of the website</h1>
      <h3 class="subtitle">SuperDuper awesome quote here</h3>
    </div>
  </header>

  <div class="section">
    <div class="daily-image">
      <div>
        <h1 class="image-title">Image of the day</h1>
        <div
          class="iframe-container"
          *ngIf="dailyImg?.url?.includes('youtube'); else image"
        >
          <iframe width="60%" height="300px" [src]="photoURL()" allowfullscreen>
          </iframe>
        </div>
        <ng-template #image><img [src]="dailyImg.hdurl" /></ng-template>
      </div>

      <h3 class="image-subtitle">{{ dailyImg.title }}:</h3>
      <!-- DESCRIZIONE DA STILIZZARE: DENTRO UN DIV CONTENITORE, PIù CARINA -->
      <p>{{ dailyImg.explanation }}</p>
    </div>
    <div class="central-container">
      <div style="flex: 1">
        <h3 class="menu-title">Menu</h3>
        <div class="menu">
          <ul>
            <li>
              <a routerLink="fun-facts/topic" [queryParams]="{ id: 'earth' }"
                >FunFacts</a
              >
            </li>
            <li>
              <a routerLink="/photos">Images Archive</a>
            </li>
            <li>
              <a routerLink="/about-us">About Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div style="flex: 1">
        <div class="title-news-container">
          <h3>Latest news</h3>
          <span><a routerLink="/news">See all</a></span>
        </div>
        <div class="latest">
          <div *ngFor="let news of newsArray" class="single-news">
            <img [src]="news.imageUrl" />
            <div>
              <h2>{{ news.title }}</h2>
              <p>{{ news.summary | slice: 0:100 }}...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
