<div class="wrapper">
  <!-- Top Page -->
  <header>
    <img src="../../assets/img/space-wallpaper.webp" class="background" />
    <app-navbar></app-navbar>
    <div class="title-container">
      <h1 class="title">Fun Facts</h1>
    </div>
  </header>

  <!-- Subjects Menu -->
  <div class="section">
    <div class="menu">
      <div class="menu-title">Topic</div>
      <div class="subjects-list">
        <div class="subject" (click)="onShowEarthFunFacts()">
          <img
            class="icon"
            src="https://img.icons8.com/ios/500/star--v1.png"
            alt="icon"
          />
          <div class="subject-title">Earth</div>
        </div>
        <div class="subject" (click)="onShowSolarSystemFunFacts()">
          <img
            class="icon"
            src="https://img.icons8.com/ios/500/star--v1.png"
            alt="icon"
          />
          <div class="subject-title">Solar System</div>
        </div>
        <div class="subject" (click)="onShowExoplanetsFunFacts()">
          <img
            class="icon"
            src="https://img.icons8.com/ios/500/star--v1.png"
            alt="icon"
          />
          <div class="subject-title">Exoplanets</div>
        </div>
        <div class="subject" (click)="onShowBlackHoleFunFacts()">
          <img
            class="icon"
            src="https://img.icons8.com/ios/500/star--v1.png"
            alt="icon"
          />
          <div class="subject-title">Black Hole</div>
        </div>
        <div class="subject" (click)="onShowCosmologyFunFacts()">
          <img
            class="icon"
            src="https://img.icons8.com/ios/500/star--v1.png"
            alt="icon"
          />
          <div class="subject-title">All Fun Facts</div>
        </div>
      </div>
    </div>

    <!-- Fun Facts Section -->
    <div class="fun-facts-section">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Footer Section -->
  <app-footer></app-footer>
</div>
